<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="chicken" class="beans.Chicken">
		<property name="egg" ref="egg"></property>
	</bean>

	<bean name="egg" class="beans.Egg">
		<property name="chicken" ref="chicken"></property>
	</bean>

	<bean name="eggFactory" class="beans.EggFactory">
	</bean>

</beans>